doctype html
html(lang="fr", ng-app="jesuis")
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1")

    title Retrospective Ouest France
    link(rel="stylesheet", href="https://unpkg.com/purecss@0.6.1/build/pure-min.css")
    link(rel="stylesheet" href="https://unpkg.com/purecss@0.6.1/build/grids-responsive-min.css")
    link(rel="stylesheet", href="main.css")

    script(src='https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js')
    script(src="https://ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-route.min.js")
    script(src="events.js")
    script(src="main.js")
  body
    .view(ng-view=true)

