div(style="height:100%;width:100%;background-size:contain;background-position:center center;background-color: #000;background-image: url('img/credits.png');background-repeat:no-repeat;")
  .fixedbutton(ng-click="exit()")
    .close(ng-click="exit()")
