video#bgvid(autoplay=true, muted=true, loop=true, poster="{{ content[selected_content].article.video.png }}" controls="")
  source(src="{{ content[selected_content].article.video.webm | trustUrl }}" type="video/webm" )
  source(src="{{ content[selected_content].article.video.mp4 | trustUrl  }}" type="video/mp4" )


.wrapper(style="width: auto;")
  div(style="display:flex; height: 50%; width: auto;")
    .event.small
      h1 Les grands évènements Ouest France
      h2 Avez vous bien suivi l'actualité ?
    .event.large.top
      .space(style="width: auto;")
        h1 Event 2
    .event.large.top
      .space(style="width: auto")
        h1 Event 4
  div(style="display:flex; height: 50%; width: auto")
    .event.large.bottom(ng-repeat="elem in content")
      .space(style="width: auto;")
        h1 {{ elem.article.title }}
        p {{ elem.article.text }}
        a(href="", ng-click="next()") Next
    .event.small
