video#bgvid(autoplay=true, muted=true, loop=true, poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg")
  source(src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm")
  source(src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4")

.wrapper(style="width: auto;")
  div(style="display:flex; height: 50%; width: auto;")
    div(style="flex-shrink: 0;width:40%")
      h1 Les grands évènements Ouest France
      h2 Avez vous bien suivi l'actualité ?
    .event.top
      .space(style="width: auto;")
        h1 Event 2
    .event.top
      .space(style="width: auto")
        h1 Event 4
  div(style="display:flex; height: 50%; width: auto")
    .event.bottom
      .space(style="width: auto;")
        h1 Event 1
    .event.bottom
      .space(style="width: auto;")
        h1 Event 3


