mixin board(position)
  if position == "top"
    .anchor_hack(id="event-{{ $index * 2 + 1}}")
  else
    .anchor_hack(id="event-{{ $index * 2}}")
  .pure-g.inside(ng-class=position == "top" ? "{activated: $index*2+1==selected_content}":"{activated: $index*2==selected_content}")
    .pure-u-2-3
      .space
        h1 {{ elem.article.title }}
        p {{ elem.article.text }}
    .pure-u-1-3
      .space(ng-show="$root.myAnswers[elem.slug] == null")
        h3 {{ elem.question.ask }}
        //-Hack des familles
        if position == "top"
          a.choice(ng-click="choose($index*2+1, 0)" href="") {{ elem.question.answers[0].text }}
          a.choice(ng-click="choose($index*2+1, 1)" href="") {{ elem.question.answers[1].text }}
        else
          a.choice(ng-click="choose($index*2, 0)" href="") {{ elem.question.answers[0].text }}
          a.choice(ng-click="choose($index*2, 1)" href="") {{ elem.question.answers[1].text }}
      .space(ng-show="$root.myAnswers[elem.slug] != null")
        h3(ng-show="$root.myAnswers[elem.slug]") &#9745; Bonne réponse !
        h3(ng-show="!$root.myAnswers[elem.slug]") &#9746; Mauvaise réponse !
        if position == "top"
          a.choice(ng-click="next($index*2+2)" href="") Continuer
        else 
          a.choice(ng-click="next($index*2+1)" href="") Continuer

  .vertical_line
  .horizontal_line
    .triangle
  .placeholder_date
    .circle
      .text {{elem.article.date}}
      .arc
    .circle.small
    .triangle

  .placeholder
    .circle
      .arc
      .arc.secondarc
    .circle.small
    .circle.small.small2

.bgvid(ng-show="selected_content == -1", style="background-color: #000")
video.bgvid(ng-repeat="elem in content" ng-show="$index == selected_content", muted=true, loop=true, poster="{{ elem.article.video.png }}", id="video-{{ $index }}")
  source(ng-src="{{ elem.article.video.webm }}" type="video/webm" )
  source(ng-src="{{ elem.article.video.mp4 }}" type="video/mp4" )


.wrapper(style="width: auto;")
  .fixedbutton(ng-click="exit()")
    .close(ng-click="exit()")
  div(style="display:flex; height: 50%; width: auto;")
    .event.tiny
    .event.small
      .space.inside(ng-class="{activated: selected_content==-1 }")
        h1 #EtesVous2016
        p.
          Du décès de David Bowie à la renonciation de François Hollande, voici
          une compilation d'événements les plus marquants de l’année 2016.
          Testez votre connaissance de l’actualité à travers notre rétrospective.
        p
          a.choice(href="", ng-click="next(0)") Commencer

    .event.large.top(ng-repeat="elem in content_top" )
      +board("top")
    .event.small

  div(style="display:flex; height: 50%; width: auto")
    .event.tiny
    .event.large.bottom(ng-repeat="elem in content_bottom")
      +board("bottom")
