mixin board(position)
  .pure-g.inside(ng-class=position == "top" ? "{activated: $index*2+1==selected_content}":"{activated: $index*2==selected_content}")
    .pure-u-2-3
      .space
        h1 {{ elem.article.title }}
        p {{ elem.article.text }}
    .pure-u-1-3
      .space
        h3 {{ elem.question.ask }}
        //-Hack des familles
        if position == "top"
          a.choice(ng-click="next($index*2+2)" href="") {{ elem.question.answers[0].text }}
          a.choice(ng-click="next($index*2+2)" href="") {{ elem.question.answers[1].text }}
        else
          a.choice(ng-click="next($index*2+1)" href="") {{ elem.question.answers[0].text }}
          a.choice(ng-click="next($index*2+1)" href="") {{ elem.question.answers[1].text }}
  if position == "top"
    .anchor_hack(id="event-{{ $index * 2 + 1}}")
  else
    .anchor_hack(id="event-{{ $index * 2}}")
  .vertical_line
  
  .placeholder_date
    .circle
      .text {{elem.article.date}}
      .arc
    .circle.small

  .placeholder
    .circle
      .arc
      .arc.secondarc
    .circle.small

.bgvid(ng-show="selected_content == -1", style="background-color: #000")
video.bgvid(ng-repeat="elem in content" ng-show="$index == selected_content", muted=true, loop=true, poster="{{ elem.article.video.png }}", id="video-{{ $index }}")
  source(ng-src="{{ elem.article.video.webm }}" type="video/webm" )
  source(ng-src="{{ elem.article.video.mp4 }}" type="video/mp4" )


.wrapper(style="width: auto;")
  div(style="display:flex; height: 50%; width: auto;")
    .event.small
      .space.inside(ng-class="{activated: selected_content==-1 }")
        h1 Top16
        p.
          Du décès de David Bowie à la renonciation de François Hollande, Ouest-France a réalisé pour vous
          une compilation de 16 des évènements parmi les plus marquants de l’année 2016. Revenez sur 12
          mois riches en informations en testant votre connaissance de l’actualité à travers notre rétrospective
          interactive.
        p
          a.choice(href="", ng-click="next(0)") Commencer

    .event.large.top(ng-repeat="elem in content_top" )
      +board("top")
      

  div(style="display:flex; height: 50%; width: auto")
    .event.large.bottom(ng-repeat="elem in content_bottom")
      +board("bottom")
      
