video#bgvid(autoplay=true, muted=true, loop=true, poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg")
  source(src="video/David_Bowie_Heroes.mkv.webm" type="video/webm")
  source(src="video/David_Bowie_Heroes.mkv.mp4" type="video/mp4")

.wrapper(style="width: auto;")
  div(style="display:flex; height: 50%; width: auto;")
    .event.small
      h1 Les grands évènements Ouest France
      h2 Avez vous bien suivi l'actualité ?
    .event.large.top
      .space(style="width: auto;")
        h1 Event 2
    .event.large.top
      .space(style="width: auto")
        h1 Event 4
  div(style="display:flex; height: 50%; width: auto")
    .event.large.bottom
      .space(style="width: auto;")
        h1 Event 1
    .event.large.bottom
      .space(style="width: auto;")
        h1 Event 3
    .event.small
