video#bgvid(autoplay=true, muted=true, loop=true, poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg")
  source(src="video/David_Bowie_Heroes.mkv.webm" type="video/webm")
  source(src="video/David_Bowie_Heroes.mkv.mp4" type="video/mp4")

.wrapper
  .pure-g.space
    .pure-u-1
      h1 Mort de David Bowie
    .pure-u-1.frame
      .pure-g
        .pure-u-2-3
          .space
            h3 RIP mon david
            p.
              Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec vulputate faucibus lorem, sed semper felis convallis non. In metus tellus, sollicitudin eu orci at, sollicitudin pretium magna. Duis fringilla molestie sem, ut scelerisque dui. Mauris sem odio, bibendum ut odio quis, dignissim viverra justo. Mauris sit amet interdum massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Proin ac volutpat orci. Sed vitae nisi sed turpis tempor dignissim. Proin eget magna nibh.
              In risus ipsum, vehicula vel ultrices eget, molestie quis leo. Etiam ut scelerisque lectus, quis accumsan nunc. Etiam felis turpis, hendrerit id magna et, aliquet molestie ante. Quisque tincidunt tellus id consequat tempor. Curabitur accumsan arcu nec leo ultrices auctor a id nisl. Aenean dignissim convallis tortor, quis condimentum libero venenatis eu. Donec venenatis, risus nec bibendum pulvinar, velit dolor pretium urna, non interdum mauris risus a metus. Phasellus volutpat ac nunc quis placerat. Mauris vestibulum sagittis sollicitudin. Donec non vulputate dui. Nullam tincidunt sem sed urna molestie, ac bibendum quam consectetur.
              Donec vitae luctus velit. Pellentesque nec dignissim ex. Etiam maximus non quam at pretium. Integer dignissim pretium lacus vitae feugiat. Aliquam erat volutpat. Proin eu tincidunt felis. Maecenas pharetra sodales orci, sit amet varius tortor maximus ut. Nulla luctus quam sed sem luctus, consequat mattis eros efficitur. Proin a tellus eu diam tincidunt cursus eget ac libero.
              Sed dictum tempor felis, sed vestibulum leo pretium eget. Ut venenatis nisl est, vitae dictum nisi consequat vitae. Etiam varius velit a lacus efficitur feugiat. Sed id lorem nulla. Vivamus a volutpat lorem. Nullam efficitur orci turpis. Integer vestibulum nulla id dolor bibendum, a egestas arcu eleifend. Maecenas vitae diam ligula. Maecenas iaculis et nibh euismod consequat. Proin suscipit orci ac augue mollis varius. Ut maximus erat non ligula tristique, et sollicitudin felis commodo.
              Nullam gravida dignissim risus eget feugiat. Integer rhoncus consequat ligula. Morbi aliquam tellus nibh, ac imperdiet lectus mattis sed. Duis tincidunt porta metus, dignissim molestie urna faucibus id. Fusce id efficitur augue, at scelerisque velit. Suspendisse hendrerit rhoncus est id scelerisque. Donec tempus dapibus accumsan. Sed quis lorem risus. Aenean mollis urna libero, eget vulputate quam lacinia eu. Integer pulvinar semper purus a semper. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            p.
              RT si t'es triste
        .pure-u-1-3
          .space
            h3 Question
            
            a(href="#") coucou
