video#bgvid(autoplay=true, muted=true, loop=true, poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg")
  source(src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm")
  source(src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4")

.pure-g.wrapper
  .pure-u-1
    p Pug - node template engine bb
    p.
      Pug is a terse and simple templating language with a
      strong focus on performance and powerful features.
