//-video#bgvid(autoplay=true, muted=true, loop=true, poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg")
  //-source(src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm")
  //-source(src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4")

.init
  h1 Les Grands Évènements de 2016
  p
    a(href="", ng-click="start()") Lancer la rétrospective
