//-video#bgvid(autoplay=true, muted=true, loop=true, poster="https://s3-us-west-2.amazonaws.com/s.cdpn.io/4273/polina.jpg")
  //-source(src="http://thenewcode.com/assets/videos/polina.webm" type="video/webm")
  //-source(src="http://thenewcode.com/assets/videos/polina.mp4" type="video/mp4")

.init
  .fixer
    h1 #EtesVous2016
    p
      a(href="", ng-click="start()") &#9654; Lancer
