html, body, .view {
  height: 100%;
  margin: 0px; padding: 0px;
  overflow-y: hidden;
  overflow-x: hidden;
}

p {
  text-align: justify;
}

.wrapper {
  height: 100%;
  min-width: 100%;
  width: auto;
  color: #fff;
  margin: 0px; padding: 0px;
}

/* INIT */
.init {
  background-image: url('img/background.jpg');
  background-size: cover;
  background-position: center center;
  width: 100%; height: 100%;

}

.init .fixer {
	padding-right: 5%;
  display:flex;
  height: 100%;
  flex-direction: column;
  justify-content:center;
  align-items:center;
	color: #fff;
}

.init h1 {
	font-size: 2.5em;
}

.init a {
	font-size: 1em;
  border: 5px solid #fff;
  padding: 15px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
}

.init a:hover {
  background-color: #fff;
  color: rgb(255,0,27);
  text-decoration: none;
}

/* EVENT */
.event {
  flex-shrink: 0;
  background-color: rgba(50,0,0,0.6);
  position:relative;
}

.event .inside {
  opacity: 0.2;
  overflow: hidden;
  height: 100%;
}

.event .inside.activated {
  opacity: 1;
}

.event.large {
  width:80%;
}

.event.small {
  width:40%;
}
.event.tiny {
  width:5%;
}

.event.top {
  /*border-left: 2px solid #aaa;*/
}

.event.bottom {
  /*border-left: 2px solid #aaa;*/
}

.event .choice {
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  font-size: 1.5em;
  display: block;
  color: #fff;
  text-decoration: none;
}

.event .inside.activated .choice:hover {
  background-color: rgb(255, 0, 27);
  border-color: rgb(255, 0, 27);
  color: #fff;
  text-decoration: none;
}

/* Circle */

.bottom .placeholder{
  position : absolute;
  top:-37px;
  left:-37px;
}

.top .placeholder{
  position : absolute;
  bottom:-37px;
  left:-37px;
}

.top .placeholder_date{
  position : absolute;
  top:37px;
  left:-37px;
}

.bottom .placeholder_date{
  position : absolute;
  bottom:37px;
  left:-37px;
}

.circle{
  position : relative;
  height:75px;
  width:75px;
  border-radius: 50%;
  z-index: 100;
}



.top   .circle{
  background-color: rgb(255,0,26);
}

.bottom  .circle{
  background-color: rgb(102,102,102);
}

.circle.small{
  height:10px;
  width:10px;
  background-color: #aaa;
}

.top  .circle.small{
  position : absolute;
  bottom: -25px;
  left:32px;
}

.bottom  .circle.small{
  position : absolute;
  top: -27px;
  left:32px;

}

.placeholder .circle.small.small2{
  position : absolute;
  top: 32px;
  left:-27px;
}

/* arcs in around circles*/
.arc{
  overflow: hidden;
	position: absolute;
	top: -22px; right: 50%; bottom: 50%; left: -22px;
	transform-origin: 100% 100%;
	transform: rotate(0deg) skewX(0deg);
}

.arc.secondarc{
  transform: rotate(180deg) skewX(0deg);
}

.arc::before{
    box-sizing: border-box;
  	display: block;
  	border: solid 2em #aaa;
  	width: 200%; height: 200%;
  	border-radius: 50%;
  	transform: skewX(-0deg);
  	content: '';
  	border-width:2px;
}

.bottom .placeholder .circle .arc{
  transform: rotate(90deg) skewX(0deg);
}

.bottom .placeholder .circle .secondarc{
  transform: rotate(270deg) skewX(0deg);
}
.top .placeholder .circle .arc{
  transform: rotate(0deg) skewX(0deg);
}

.top .placeholder .circle .secondarc{
  transform: rotate(180deg) skewX(0deg);
}

.top .placeholder_date .circle .arc{
  transform: rotate(90deg) skewX(0deg)
}

.bottom .placeholder_date .circle .arc{
  transform: rotate(180deg) skewX(0deg)
}

/* text in circles */
.circle .text{
  top: 27px;
  left: 14px;
  position:absolute;
}

.fixedbutton {
    position: fixed;
    top: 0px;
    left: 0px;
    height:32px;
    width:32px;
    border-radius: 50%;

    border: 1px solid #aaa;
    font-size: 1.5em;
    display: block;
    color: #fff;
    text-decoration: none;
    z-index: 1000;
}

.fixedbutton:hover{
    background-color: rgb(255, 0, 27);
    border-color: rgb(255, 0, 27);
    color: #fff;
    text-decoration: none;
}

.close {
  position: absolute;
  left: -1px;
  top: 0px;
  width: 32px;
  height: 32px;
  opacity: 1;
  z-index: 10000;
  cursor: pointer;
}

.close:before, .close:after {
  position: absolute;
  left: 15px;
  content: ' ';
  height: 33px;
  width: 4px;
  background-color: #aaa;
}
.close:before {
  transform: rotate(45deg);
}
.close:after {
  transform: rotate(-45deg);
}
.close:hover{

}


/*Triangles*/
.triangle{
  width: 0;
  height: 0;
  border-style: solid;


}

.top .placeholder_date .triangle{
  border-width: 10.4px 6px 0 6px;
  position: absolute;
  top:32.5px;
  right: -25.5px;
  border-color: #aaa transparent transparent transparent;
}

.bottom .placeholder_date .triangle{
  border-width: 0 6px 10.4px 6px;
  position: absolute;
  top:1.5px;
  z-index: 10000;
  top:32.5px;
  right: -25.5px;
  border-color:transparent transparent #aaa transparent;

}

.horizontal_line .triangle{
  border-width: 6px 0 6px 10.4px;
  position: absolute;
  right: -5px;
  top:-6px;
  border-color: transparent transparent transparent #aaa;
  z-index: 10000;

}

/* Ligne border */

.event.top .vertical_line{
  border-left: 2px solid #aaa;
  position: absolute;
  top: 130px;
  bottom: 59px;
}

.event.bottom .vertical_line{
  border-left: 2px solid #aaa;
  position: absolute;
  top: 59px;
  bottom: 130px;
}

.horizontal_line{
  position:absolute;
  left:59px;
  right: 60%;
}

.event.bottom .horizontal_line{
  border-top :2px solid #aaa;
  top :0px;
}
.event.top .horizontal_line{
  border-bottom: 2px solid #aaa;
  bottom :0px;
}


/*Gitanerie de Quentin*/
.anchor_hack {
  height: 1px;
  width: 1px;
  margin-left: 100%;
}


/* VIDEO */
.bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
  background-color: #000;
}

video { display: block; }

.space {
  padding: 6%;
}

/* END - RESULT */
.end {
  background-color: #000;
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  flex-direction: row;
  min-width:100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
}

.end .elem {
  flex-grow: 1;
  background-size: cover;
  background-position: center center;
}

.result {
  width: 100%;
  height: 100%;
  background-color: rgba(50,0,0,0.6);
  color: #fff;
}

.result h1 {
  font-size: 10em;
}

.result .center {
  display:flex;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}

.credit_box{
    display:flex;
  width: 100%;
  flex-order:row;
  background-color: rgb(255,255,255);
}

.credit_box img{
  width: 100%;
  height: auto;
}

.credit_box div{
  flex: auto;
  width: 150px;
  margin: .5vw;

  text-align:center;
}
