html, body, .view {
  height: 100%;
  margin: 0px; padding: 0px;
  overflow-y: hidden;
}

.wrapper {
  height: 100%;
  min-width: 100%;
  width: auto;
  color: #fff;
  margin: 0px; padding: 0px;
}

/* INIT */
.init {
  display:flex;
  flex-direction: column;
  justify-content:center;
  align-items:center;
  width:100%;
  height:100%;
}

.init a {
  border: 1px solid #000;
  padding: 5px;
  border-radius: 10px;
  color: #000;
  text-decoration: none;
}

.init a:hover {
  color: #000;
  text-decoration: none;
}

/* EVENT */
.event {
  flex-shrink: 0;
  background-color: rgba(50,0,0,0.6);
  position:relative;
}

.event .inside {
  opacity: 0.2;
}

.event .inside.activated {
  opacity: 1;
}

.event.large {
  width:80%;
}

.event.small {
  width:40%;
}

.event.top {
  /*border-left: 2px solid #aaa;*/
}

.event.bottom {
  /*border-left: 2px solid #aaa;*/
}

.event .choice {
  border-radius: 20px;
  text-align: center;
  margin: 10px;
  padding: 10px;
  border: 1px solid #aaa;
  font-size: 1.5em;
  display: block;
  color: #fff;
  text-decoration: none;
}

.event .inside.activated .choice:hover {
  background-color: rgb(255, 0, 27);
  border-color: rgb(255, 0, 27);
  color: #fff;
  text-decoration: none;
}

/* Circle */

.bottom .placeholder{
  position : absolute;
  top:-37px;
  left:-37px;
}

.top .placeholder{
  position : absolute;
  bottom:-37px;
  left:-37px;
}

.top .placeholder_date{
  position : absolute;
  top:37px;
  left:-37px;
}

.bottom .placeholder_date{
  position : absolute;
  bottom:37px;
  left:-37px;
}

.circle{
  position : relative;
  height:75px;
  width:75px;
  border-radius: 50%;
  z-index: 100;
}



.top   .circle{
  background-color: rgb(255,0,26);
}

.bottom  .circle{
  background-color: rgb(102,102,102);
}

.circle.small{
  height:10px;
  width:10px;
  background-color: #aaa;
}

.top  .circle.small{
  position : absolute;
  bottom: -25px;
  left:32px;
}

.bottom  .circle.small{
  position : absolute;
  top: -27px;
  left:32px;

}

.placeholder .circle.small.small2{
  position : absolute;
  top: 32px;
  left:-27px;
}

/* arcs in around circles*/
.arc{
  overflow: hidden;
	position: absolute;
	top: -22px; right: 50%; bottom: 50%; left: -22px;
	transform-origin: 100% 100%;
	transform: rotate(0deg) skewX(0deg);
}

.arc.secondarc{
  transform: rotate(180deg) skewX(0deg);
}

.arc::before{
    box-sizing: border-box;
  	display: block;
  	border: solid 2em #aaa;
  	width: 200%; height: 200%;
  	border-radius: 50%;
  	transform: skewX(-0deg);
  	content: '';
  	border-width:2px;
}

.bottom .placeholder .circle .arc{
  transform: rotate(90deg) skewX(0deg);
}

.bottom .placeholder .circle .secondarc{
  transform: rotate(270deg) skewX(0deg);
}
.top .placeholder .circle .arc{
  transform: rotate(0deg) skewX(0deg);
}

.top .placeholder .circle .secondarc{
  transform: rotate(180deg) skewX(0deg);
}

.top .placeholder_date .circle .arc{
  transform: rotate(90deg) skewX(0deg)
}

.bottom .placeholder_date .circle .arc{
  transform: rotate(180deg) skewX(0deg)
}

/* text in circles */
.circle .text{
  top: 27px;
  left: 14px;
  position:absolute;
}

/*Triangles*/
.triangle{
  width: 0;
  height: 0;
  border-style: solid;


}

.top .placeholder_date .triangle{
  border-width: 10.4px 6px 0 6px;
  position: absolute;
  top:32.5px;
  right: -25.5px;
  border-color: #aaa transparent transparent transparent;
}

.bottom .placeholder_date .triangle{
  border-width: 0 6px 10.4px 6px;
  position: absolute;
  top:1.5px;
  z-index: 10000;
  top:32.5px;
  right: -25.5px;
  border-color:transparent transparent #aaa transparent;

}

.horizontal_line .triangle{
  border-width: 6px 0 6px 10.4px;
  position: absolute;
  right: -5px;
  top:-6px;
  border-color: transparent transparent transparent #aaa;
  z-index: 10000;

}

/* Ligne border */

.event.top .vertical_line{
  border-left: 2px solid #aaa;
  position: absolute;
  top: 130px;
  bottom: 59px;
}

.event.bottom .vertical_line{
  border-left: 2px solid #aaa;
  position: absolute;
  top: 59px;
  bottom: 130px;
}

.horizontal_line{
  position:absolute;
  left:59px;
  right: 60%;
}

.event.bottom .horizontal_line{
  border-top :2px solid #aaa;
  top :0px;
}
.event.top .horizontal_line{
  border-bottom: 2px solid #aaa;
  bottom :0px;
}


/*Gitanerie de Quentin*/
.anchor_hack {
  height: 1px;
  width: 1px;
  margin-left: 100%;
}


/* VIDEO */
.bgvid {
  position: fixed; right: 0; bottom: 0;
  min-width: 100%; min-height: 100%;
  width: auto; height: auto; z-index: -100;
  background-size: cover;
  background-color: #000;
}

video { display: block; }

.space {
  padding: 6%;
}
